
/*added by AJ*/
.divLoading.show{
    display: block; position: fixed; z-index: 100; background-image: url("https://s3-us-west-2.amazonaws.com/jsabucket/ajax-loader.gif");
    background-color: rgb(102, 102, 102); opacity: 0.4; background-repeat: no-repeat; background-position: center;
    left: 0; bottom: 0; right: 0; top: 0;
}
.error{
    color: red !important;
}

.success{
    color: green !important;
}

.voided_item{
    color: #ddd;
}

.btn.worksheet{
    width: 100px;
}

input[type="text"], input[type="password"], input[type="email"]{
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
    width: 100%;
    border: 2px solid rgb(221, 221, 221);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 15px;
    outline: 0;
    background: rgb(245, 245, 245);
    position: relative;
    color: rgb(121, 121, 121);    
}

.myStyle{
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
    width: 100%;
    border: 2px solid rgb(221, 221, 221);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 15px;
    outline: 0;   
    position: relative;   
    background: rgb(245, 245, 245);
    color: rgb(171, 171, 171);
}

.cert_no{
    background-color: #A7A7A9;
}

.alert-ash{
    background: #F5F5F5;
}

#add_category{
    display: none;
}

#add_category.active{
    display: block;
}

.chosen-container.chosen-container-multi{
    width: 400px !important;
    font-size: 15px;
    line-height: 45px;
}


.horder .status.approved p:before {
    background: #0080ff;
}

.horder .status.approved p {
    color: #0080ff;
}

.horder .status.new p:before {
    background: #2cc36b;
}

.horder .status.new p {
    color: #2cc36b;
}

.horder .status.processing p:before {
    background: #f1c40f;
}

.horder .status.processing p {
    color: #f1c40f;
}

.horder .status.n4 p:before {
    background: #c0392b;
}

.horder .status.n4 p {
    color: #c0392b;
}

.label-new {
    background-color: #5cb85c
}

.label-processing {
    background-color: #f0ad4e
}

.label-n4 {
   background-color: #d9534f
}

.label-approved{
   background-color: #0080ff
}



[hidden] { display: none; }

.visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

div.awesomplete {
    display: inline-block;
    position: relative;
    width: 100%;
}

div.awesomplete > input {
    display: block;
}

div.awesomplete > ul {
    position: absolute;
    left: 0;
    z-index: 1;
    min-width: 50%;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    border-radius: .3em;
    margin: .2em 0 0;
    background: hsla(0,0%,100%,.9);
    background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
    border: 1px solid rgba(0,0,0,.3);
    box-shadow: .05em .2em .6em rgba(0,0,0,.2);
    text-shadow: none;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
    display: none;
}

@supports (transform: scale(0)) {
    div.awesomplete > ul {
        transition: .3s cubic-bezier(.4,.2,.5,1.4);
        transform-origin: 1.43em -.43em;
    }
    
    div.awesomplete > ul[hidden],
    div.awesomplete > ul:empty {
        opacity: 0;
        transform: scale(0);
        display: block;
        transition-timing-function: ease;
    }
}

/* Pointer */
div.awesomplete > ul:before {
    content: "";
    position: absolute;
    top: -.43em;
    left: 1em;
    width: 0; height: 0;
    padding: .4em;
    background: white;
    border: inherit;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

div.awesomplete > ul > li {
    position: relative;
    padding: .2em .5em;
    cursor: pointer;
}

div.awesomplete > ul > li:hover {
    background: hsl(200, 40%, 80%);
    color: black;
}

div.awesomplete > ul > li[aria-selected="true"] {
    background: hsl(205, 40%, 40%);
    color: white;
}

div.awesomplete mark {
    background: hsl(65, 100%, 50%);
}

div.awesomplete li:hover mark {
    background: hsl(68, 100%, 41%);
}

div.awesomplete li[aria-selected="true"] mark {
    background: hsl(86, 100%, 21%);
    color: inherit;
}

.icon_space{
    padding-right: 10px;
}



.custom-paginator{
    color: #ffffff; 
    display:inline; 
    padding: 5px; 
    border-radius:0px;
    text-transform: none;
}


textarea#input-local-prevent-duplicates{
    line-height: 25px;
}



.cert-text{
    font-size: 4px;
}

.custom_select_style {
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
    width: 100%;
    border: 2px solid rgb(221, 221, 221);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 15px;
    outline: 0;
    position: relative;
    background: rgb(245, 245, 245);
    color: rgb(171, 171, 171);
}









